.header{
    font: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 50px 30px;
}

.cardGrid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 15px;
}

.card {
    color: #fff;
    background: rgba(78, 56, 150, 0.8);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}

.card:hover{
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.25), 0 5px 10px rgba(255, 255, 255, 0.22);
}

img {
    width: 100%;
    border-radius: 10px 10px 0 0;
  }

  header {
    padding: 5px 0 10px 10px;
  }

  h3 span {
    background: rgba(33, 216, 255, 0.5);
    color: #fff;
    border-radius: 3px;
    padding: 0 6px;
  }

  h4 {
    margin-top: 5px;
  }

  .pageNumberContainer{
    display: flex;
    font-size: 1.5em;
    margin-top: 5px;
  }

  .pageNumber {
    padding: 0 10px;
    cursor: pointer;
    transition: color 100ms ease-in-out;
  }

  .direction, .pageNumber {
    color: white;
  }
  .direction{
      transition: all 0.3s
  }
  .direction:hover, .pageNumber:hover{
    color:rgba(33, 216, 255, 0.5)
  }

  