@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body{
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #111111;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}